<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div align="center">
    <a href="/new">New User</a>
    <br>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getRoles()}"/>
            <td><a th:href="@{edituser(id=${user.getId()})}">Edit user</p></a></td>

            <td>
                <form th:method="DELETE" th:action="@{/delete?id={id}(id=${user.getId})}">
                    <input type="submit" value="Delete User"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/logout">Logout</a>
</div>
</body>
</html>